.sobre-mim {
    display: grid;
    max-width: 1200px;
    width: 100%;
    grid-template-areas:
        "title title"
        "description skills";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
}

.section-title {
    grid-area: title;
    text-align: center;
    font-size: clamp(2rem, 18vw, 14rem);
    font-weight: 700;
    background: linear-gradient(#666, #000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.description__title {
    font-size: 3rem;
    color: var(--primary-color);
}

.description__text {
    font-size: 1.5rem;
    line-height: 150%;
}

.skills {
    grid-area: skills;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.skills__title {
    font-size: 3rem;
    color: var(--primary-color);
}

.skills__icons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.skills__icon {
    width: 150px;
    height: 150px;
    background-color: var(--icon-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.skills__icon i {
    font-size: 4rem;
}

.skills__icon span {
    font-size: 1.5rem;
    font-weight: 700;
}

.fa-html5 {
    transition: .8s;
}

.fa-html5:hover {
    transform: scale(1.2);
    color: #E54D26;
}

.fa-css3-alt {
    transition: .8s;
}


.fa-css3-alt:hover {
    transform: scale(1.2);
    color: #0074BE;
}

.fa-js {
    transition: .8s;
}

.fa-js:hover {
    transform: scale(1.2);
    color: #F7DF1E;
}

.fa-react {
    transition: .8s;
}

.fa-react:hover {
    transform: scale(1.2);
    color: #7ADDFC;
}

.fa-figma {
    transition: .8s;
}

.fa-figma:hover {
    transform: scale(1.2);
}

.fa-github {
    transition: .8s;
}

.fa-github:hover {
    transform: scale(1.2);
    color: #000000;
}

.fa-node-js {
    transition: .8s;
}

.fa-node-js:hover {
    transform: scale(1.2);
    color: #80BD41;
}

.fa-java {
    transition: .8s;
}

.fa-java:hover {
    transform: scale(1.2);
}

.fa-android {
    transition: .8s;
}

.fa-android:hover {
    transform: scale(1.2);
    color: #2EDF85;
}